<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IEEE CIS AU SB</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
     <!-- Navbar Start -->
     <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="https://ieeeausb.cyclic.app/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><img src="/images/SB/AU_IEEE_LOGO.png" style="width:300px;"></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="https://ieeeausb.cyclic.app/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Chapters</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="https://ieeeausb.cyclic.app/chapters/CS" class="dropdown-item">IEEE CS</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/CAS" class="dropdown-item">IEEE CAS</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/CIS" class="dropdown-item">IEEE CIS</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/GRSS" class="dropdown-item">IEEE GRSS</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/ITS" class="dropdown-item">IEEE ITS</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/PES" class="dropdown-item">IEEE PES</a>
                        <a href="https://ieeeausb.cyclic.app/chapters/RA-NANO" class="dropdown-item">IEEE RA/NANO</a>
                    </div>
                </div>
                <a href="https://ieeeausb.cyclic.app/members-2023" class="nav-item nav-link">Members</a>
                <a href="https://ieeeausb.cyclic.app/events-2023" class="nav-item nav-link">Events</a>
                <a href="https://ieeeausb.cyclic.app/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
    
    <!-- Service Start -->
    <div class="container-xxl py-5">
        
        <div class="container">
            <h1 class="mb-4" style="text-align: center;">IEEE Computational Intelligence Society Chapter</h1>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x 		fas fa-landmark text-primary mb-4"></i>
                            <h5 class="mb-3">Date of Establishment</h5>
                            <h3><p>13 November 2023</p></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x 	fas fa-user-alt text-primary mb-4"></i>
                            <h5 class="mb-3">Faculty Members</h5>
                            <h2><p>2</p></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x 	fas fa-users text-primary mb-4"></i>
                            <h5 class="mb-3">Student Members</h5>
                            <h2><p>12</p></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa fa-tasks text-primary mb-4"></i>
                            <h5 class="mb-3">Events</h5>
                            <h2><p>8</p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="/images/CIS/CIS LOGO TRANSPARENT BACKGROUND.png" alt="CIS Logo" style="object-fit:contain">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <p class="mb-4">The IEEE Computational Intelligence Society (CIS) Student Chapter at Anurag University is a dynamic and innovative community of tech enthusiasts, aspiring engineers, and visionary problem-solvers. Our mission is to unlock the boundless potential of Computational Intelligence, Data Science, and Artificial Intelligence, shaping the future of technology one algorithm at a time. We are also dedicated to empowering our members with the knowledge and skills required to excel in the ever-evolving world of technology. We're committed to fostering innovation, providing learning opportunities, and creating a platform for collaboration. Our chapter serves as a hub of exploration, learning, and innovation. We organize a wide range of events, including workshops, seminars, hackathons, and expert talks, all designed to keep you at the forefront of technological advancements. We foster a culture of continuous learning, networking, and collaboration, empowering our members to transform their knowledge into real-world solutions. Within our vibrant community, we celebrate diverse perspectives that foster innovation, firmly believing that together, we can cultivate a more inclusive and dynamic tech landscape. Our chapter is committed to equipping members with the knowledge, skills, and a platform essential for launching their tech careers. The main areas 
                        that IEEE CIS works on are
                    </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Neural Networks</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Fuzzy Logic</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Evolutionary Computing</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Our Mission</h6>
                    <p class="mb-4">The mission of the IEEE Computational Intelligence Society (CIS) Student Chapter at Anurag University is firmly anchored in our commitment to turn our vision into tangible reality. We are dedicated to empowering our members to become creators and innovators in the fields of Computational Intelligence, Data Science, and AI. We believe in equipping them with the knowledge, skills, and tools to actively shape the technological landscape. Our mission extends beyond technology for technology's sake. We are committed to harnessing our expertise for a purpose, striving to address real-world challenges and make a positive impact on society and the environment. We aim to provide mentorship and inspiration for our members, helping them become influential tech leaders and change-makers. Our mission is to create a supportive environment where they can flourish and inspire future generations.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Address Real-world Challenges</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Create positive impact on society and environment</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Our Vision </h6>
                    <p class="mb-4">Our vision is to be at the forefront of technological evolution, shaping a future where our members are not just consumers but creators, defining the landscape of Computational Intelligence, Data Science, and AI. We aspire to be a dynamic hub of innovation, learning, and collaboration, contributing to the ever-expanding world of technology. Our goal is to empower our members to become influential tech leaders and change-makers, leveraging their expertise to address the challenges and opportunities of a rapidly evolving digital world. Our vision also encompasses harnessing the power of AI, Data Science, and Computational Intelligence for the greater good. We aim to channel our expertise towards addressing societal and environmental challenges, making a positive and sustainable impact. We aspire to be a chapter that embraces and celebrates diversity, recognizing that different perspectives and experiences lead to more innovative solutions and a richer tech community.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To become dynamic hub of innovation in science</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Make members influencial tech leaders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">EVENTS</h6>
                <h1 class="mb-5">Recent Events by IEEE CIS at Anurag University</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="#">
                                <img class="img-fluid" src="/images/SB/Smarthacks.JPG" alt="Smart Hacks-2K23">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Smart Hacks - 2K23 </h5>
                                    <small class="text-primary">August 31 - September 2 2023</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="#">
                                <img class="img-fluid" src="/images/SB/Blindcodingposter.png" alt="Blind Coding poster">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Blind Coding</h5>
                                    <small class="text-primary">8 December 2023</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="#">
                                <img class="img-fluid" src="/images/SB/SYNC.JPG" alt="Show Your Natural C">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Show Your Natural C</h5>
                                    <small class="text-primary">8 November 2023</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="#">
                        <img class="img-fluid position-absolute w-100 h-100" src="/images/SB/Roadmap.JPG" alt="Roadmap to Sucess:Coding" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Roadmap to Success:Coding</h5>
                            <small class="text-primary">8 November 2023</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->
 <!-- Team Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Executive Committee</h6>
            <h1 class="mb-5">Executive Committe for year 2023-2024</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Dr.M Trupthi">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Dr.M Trupthi</h5>
                        <small>Faculty Advisor</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Dr. V Biksham">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Dr. V Biksham</h5>
                        <small>Faculty Advisor</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-2.jpg" alt="Karthik Rao P">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Karthik Rao P</h5>
                        <small>Chair</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-3.jpg" alt=" Aishwarya E">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Aishwarya E</h5>
                        <small>Vice Chair</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/images/CIS/Atharva.jpg" alt="Atharva Pore">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Atharva Vaibhav Pore</h5>
                        <small>Vice Chair</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/images/CIS/MANIBalmuri.jpg" alt="Manipreetham Rao">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Manipreetham Rao B</h5>
                        <small>General Secretary</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Varun Talluri">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Varun Talluri</h5>
                        <small>Joint Secretary</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Srivatsa C">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Srivatsa C</h5>
                        <small>Treasurer</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/images/CIS/Dilip.heic" alt="Dilip Padakanti">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Dilip Padakanti</h5>
                        <small>Web Master</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/images/CIS/Vrindaa.jpg" alt="Vrindaa Tatikonda">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Vrindaa Tatikonda</h5>
                        <small>Technical Lead</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/Anuragh.jpg" alt="Anuragh S">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Anuragh S</h5>
                        <small>Organizing Lead</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Sumadhura M">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Sumadhura M</h5>
                        <small>Design Lead</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Srivani V">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Srivani V</h5>
                        <small>Social Media Lead</small>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Chapters</h6>
                <h1 class="mb-5">IEEE Student Chapters at Anurag University</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/CS_logo.png" alt="CS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Computer Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Ms. M Sandhya Rani</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/CAS_logo.png" alt="CAS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Circuits and Systems Society</h5>
                            <h5 class="mb-4"></h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Dr. G Renuka</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/CIS_logo.jpg" alt="CIS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Computational Intelligence Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Dr. M Trupthi</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>14 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/GRSS_logo.jpg" alt="CIS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Geoscience and Remote Sensing Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Mr. Sreenu</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/ITS_logo.png" alt="CIS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Information Theory Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Mr. G.L Anand Babu</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/PES_logo.jpg" alt="CIS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Power and Energy Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Ms. A. Ajitha</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/images/SB/RA_logo.png" alt="CIS LOGO">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">IEEE Robotics and Automation Society</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Dr. Jush Kumar</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 Members</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
     <!-- Footer Start -->
     <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="https://ieeeausb.cyclic.app/members-2023">Members</a>
                    <a class="btn btn-link" href="https://ieeeausb.cyclic.app/events-2023">Events</a>
                    <a class="btn btn-link" href="https://ieeeausb.cyclic.app/contact">Contact</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Venkatapur, Ghatkesar Rd, Hyderabad, Telangana 500088</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9959856763</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>ieeesbau@anurag.edu.in</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">IEEE AU SB</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/javascripts/main.js"></script>
</body>

</html>